

      <div class="col-md-4 col-sm-4">
        <div id="icon-carousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><div><i class="fa fa-flag"></i></div></div>
            <div class="item"><div><i class="fa fa-hand-spock-o"></i></div></div>
            <div class="item"><div><i class="fa fa-sticky-note"></i></div></div>
            <div class="item"><div><i class="fa fa-commenting"></i></div></div>
            <div class="item"><div><i class="fa fa-map-signs"></i></div></div>
            <div class="item"><div><i class="fa fa-envelope"></i></div></div>
            <div class="item"><div><i class="fa fa-send-o"></i></div></div>
            <div class="item"><div><i class="fa fa-book"></i></div></div>
            <div class="item"><div><i class="fa fa-fighter-jet"></i></div></div>
            <div class="item"><div><i class="fa fa-beer"></i></div></div>
            <div class="item"><div><i class="fa fa-heart-o"></i></div></div>
            <div class="item"><div><i class="fa fa-thumbs-o-up"></i></div></div>
            <div class="item"><div><i class="fa fa-pied-piper-alt"></i></div></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#icon-carousel" data-slide="prev"
             onClick="_gaq.push(['_trackEvent', 'iconCarousel', 'Prev']);">
            <i class="fa fa-arrow-circle-left"></i></a>
          <a class="carousel-control right" href="#icon-carousel" data-slide="next"
             onClick="_gaq.push(['_trackEvent', 'iconCarousel', 'Next']);">
            <i class="fa fa-arrow-circle-right"></i></a>
        </div>



<li class="dropdown-split-left"><a href="./icons/">Icons</a></li>
        <li class="dropdown dropdown-split-right hidden-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><a href="./icons/"><i class="fa fa-flag fa-fw"></i>&nbsp; All Icons</a></li>
            <li class="divider"></li>
            <li><a href="./icons/#new"><i class="fa fa-diamond fa-fw"></i>&nbsp; New Icons in 4.4</a></li>
            <li><a href="./icons/#web-application"><i class="fa fa-camera-retro fa-fw"></i>&nbsp; Web Application Icons</a></li>
            <li><a href="./icons/#hand"><i class="fa fa-hand-spock-o fa-fw"></i>&nbsp; Hand Icons</a></li>
            <li><a href="./icons/#transportation"><i class="fa fa-ship fa-fw"></i>&nbsp; Transportation Icons</a></li>
            <li><a href="./icons/#gender"><i class="fa fa-venus fa-fw"></i>&nbsp; Gender Icons</a></li>
            <li><a href="./icons/#file-type"><i class="fa fa-file-image-o fa-fw"></i>&nbsp; File Type Icons</a></li>
            <li><a href="./icons/#spinner"><i class="fa fa-spinner fa-fw"></i>&nbsp; Spinner Icons</a></li>
            <li><a href="./icons/#form-control"><i class="fa fa-check-square fa-fw"></i>&nbsp; Form Control Icons</a></li>
            <li><a href="./icons/#payment"><i class="fa fa-credit-card fa-fw"></i>&nbsp; Payment Icons</a></li>
            <li><a href="./icons/#chart"><i class="fa fa-pie-chart fa-fw"></i>&nbsp; Chart Icons</a></li>
            <li><a href="./icons/#currency"><i class="fa fa-won fa-fw"></i>&nbsp; Currency Icons</a></li>
            <li><a href="./icons/#text-editor"><i class="fa fa-file-text-o fa-fw"></i>&nbsp; Text Editor Icons</a></li>
            <li><a href="./icons/#directional"><i class="fa fa-arrow-right fa-fw"></i>&nbsp; Directional Icons</a></li>
            <li><a href="./icons/#video-player"><i class="fa fa-play-circle fa-fw"></i>&nbsp; Video Player Icons</a></li>
            <li><a href="./icons/#brand"><i class="fa fa-github fa-fw"></i>&nbsp; Brand Icons</a></li>
            <li><a href="./icons/#medical"><i class="fa fa-medkit fa-fw"></i>&nbsp; Medical Icons</a></li>
          </ul>
        </li>
        <li class="dropdown-split-left"><a href="./examples/">Examples</a></li>
        <li class="dropdown dropdown-split-right hidden-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><a href="./examples/">Examples</a></li>
            <li class="divider"></li>
            <li><a href="./examples/#basic">Basic Icons</a></li>
            <li><a href="./examples/#larger">Larger Icons</a></li>
            <li><a href="./examples/#fixed-width">Fixed Width Icons</a></li>
            <li><a href="./examples/#list">List Icons</a></li>
            <li><a href="./examples/#bordered-pulled">Bordered & Pulled Icons</a></li>
            <li><a href="./examples/#animated">Animated Icons</a></li>
            <li><a href="./examples/#rotated-flipped">Rotated &amp; Flipped Icons</a></li>
            <li><a href="./examples/#stacked">Stacked Icons</a></li>
            <li><a href="./examples/#bootstrap">Bootstrap 3 Examples</a></li>
            <li><a href="./examples/#custom">Custom CSS</a></li>
          </ul>
        </li>
        <li><a href="./community/">Community</a></li>



    <div id="bsap_1298241" class="bsarocks bsap_b1146e3f9fa32a794fc6d2c7be47ece8">
      <a href="http://www.wpbeginner.com/?utm_source=fontawesome_footer&utm_medium=banner&utm_campaign=fontawesome" title="Beginner's Guide to WordPress" target="_blank" rel="nofollow"
         onClick="_gaq.push(['_trackEvent', 'Outbound Link', 'wpbeginner.com']);">
        <img src="./assets/img/logo-wpbeginner.png" width="220" height="65" alt="">
      </a>
      <a href="https://themeisle.com/?utm_source=fontawesome_footer&utm_medium=banner&utm_campaign=fontawesome" title="Beginner's Guide to WordPress" target="_blank" rel="nofollow"
         onClick="_gaq.push(['_trackEvent', 'Outbound Link', 'themeisle.com']);">
        <img src="./assets/img/logo-themeisle.png" width="220" height="65" alt="">
      </a>
    </div>



<!--
    <ul class="list-inline">
      <li>
        <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=imaginal&repo=Font-Awesome&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=FortAwesome&repo=Font-Awesome&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
      <li class="follow-btn">
        <a href="https://twitter.com/fontawesome" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @fontawesome</a>
      </li>
      <li class="tweet-btn hidden-phone">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fontawesome.io" data-text="Font Awesome, the iconic font and CSS framework" data-counturl="http://fortawesome.github.com/Font-Awesome/" data-count="horizontal" data-via="fontawesome" data-related="davegandy:Creator of Font Awesome">Tweet</a>
      </li>
    </ul>
  -->

  <section id="thanks-to">
  <h2 class="page-header">Thanks To</h2>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <p>
        Thanks to <a href="https://twitter.com/robmadole/">@robmadole</a> and
        <a href="https://twitter.com/supercodepoet/">@supercodepoet</a> for icon design
        review, advice, some Jekyll help, and being all around badass coders.
      </p>
    </div>
    <div class="col-md-4 col-sm-4">
      <p>
        HUGE thanks to <a href="https://twitter.com/gtagliala">@gtagliala</a> for doing such a fantastic job managing
        pull requests and issues on the Font Awesome
        <a href="https://github.com/imaginal/safepoll">GitHub project</a>.
      </p>
    </div>
    <div class="col-md-4 col-sm-4">
      <p>
        Thanks to <a href="http://tracking.maxcdn.com/c/148092/3982/378"><i class="fa fa-maxcdn">&nbsp;</i>MaxCDN</a> for providing the excellent
        <a href="http://www.bootstrapcdn.com/#fontawesome_tab">BootstrapCDN</a>, the fastest and easiest way to
        <a href="./get-started/#bootstrapcdn">get started</a> with Font Awesome.
      </p>
    </div>
  </div>
</section>


